<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <style>
       
    </style>

</head>
<body>
    <div id=app>
         <h1>
             {{title}}
         </h1>
         <ul>
             <li v-for="(item,i) in products">
                 名称：{{item.name}}
                 <button @click="changeStock(item, item.stock-1)">-</button>
                
                 <span v-if="item.stock">{{item.stock}}</span>
                 <span v-else>无货</span>
                 <button @click="changeStock(item, item.stock+1)">+</button>
                 <button @click="remove(i)">删除</button>
             </li>
         </ul>
    </div>
  <script src="./vue.min.js"></script>
  <script>
      new Vue({
          el:"#app",//css选择器
          data: {
              //和界面相关的数据
            title:"库存管理系统",
            products: [
                {name : "iphone",stock :20 },
                {name : "xiaomi",stock :10},
                {name : "huawei",stock :5},
            ],
          },
          methods:{
              remove(i){
                  this.products.splice(i,1);
              },
              changeStock(product, newStock){
                   if(newStock < 0){
                     newStock = 0
                   }
                 product.stock = newStock
              }
          }
      });
  </script>
</body>
</html>